<div class="container">
  <h2 class="mb-4">フォロワー一覧</h2>
  
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <% @followers.each do |customer| %>
        <div class="py-2 d-flex justify-content-between">
          <span>
            <%= image_tag customer.get_image(200,200),class: "rounded-circle img-thumbnail", size: '50x50' %>
            <%= link_to customer.nickname, customer %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  
</div>