<div class="container">
  <h2 class="mb-4">フォローした人</h2>
  
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <% @followings.each do |customer| %>
        <div class="py-2 d-flex justify-content-between">
          <span>
            <%= image_tag customer.get_image(200,200),class: "rounded-circle img-thumbnail", size: '50x50' %>
            <%= link_to customer.nickname, customer %>
          </span>
          <span>
            <%= link_to "削除", customer_relationships_path(customer), method: :delete, class:"btn btn-danger" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
