<div class="container back-img p-5">

  <h2>フォト活の庭</h2><br>

  このサイトは、初心者～プロの方まで、写真が好きな人が集まり、情報交換ができる場です。<br>
  具体的には、写真と共に使用したカメラ・その他機材・加工アプリなどを、紹介できるコミュニティサイトです。<br>

  カメラを始めてみたい、一眼レフにも挑戦してみたいけど、安い買い物ではないので、 失敗したくないと悩み、迷っている人は多いのではないでしょうか。<br>

  そもそも一眼レフではなくて、デジカメ、スマートフォンカメラもあるし、チェキも魅力的…。<br>

  その上、加工アプリの種類もどんどん増えている…。<br>

  自分の撮りたい写真はどのカメラや加工アプリを使えばいいのか？なかなか一歩が踏み出せない。 私自身もその一人です。<br>
   多すぎる情報や選択肢の中で、どのようにしたら、自分が作り出したい写真の世界観が作れるのか、
  サイトに投稿された写真から、理想のカメラや加工アプリと出会える。<br>

   一枚の写真から感覚的に好きが繋がっていく。<br>

   人生100年時代、副業をする人や、プライベートの過ごし方（趣味）を大切にする人が増えた現代で、
   写真というツールを通して、人生にさらなる彩りを与えられる一助となれば幸いです。<br><br>


  <h6>楽しくサイトを利用していただくための</h6>
  <%= link_to '利用ガイダンス',guidance_path, class:"btn btn-secondary" %><br>

</div>