<div class="container back-img p-5">

  <h2>利用ガイダンス</h2><br>
  
  
  フォト活の庭は投稿者が撮影した写真を公開し、それに対してコメント機能等を利用することによって、全てのユーザーが写真を通じたコミュニケーションを楽しめる場所を目指しております。<br>
  
  この趣旨を十分にご理解いただき、全てのユーザーの皆様が安心して楽しめるサイトを維持するため、投稿の際に下記の点をご注意ください。<br><br>
  
  <table class="table table-striped table-dark">
    <tbody>
      <tr>
        <th scope="row">1.</th>
        <td>閲覧者が不快になるような画像投稿は禁止します。</td>
      </tr>
      <tr>
        <th scope="row">2.</th>
        <td>第三者への批判など、トラブルにつながる恐れがあるコメントは禁止します。</td>
      </tr>
      <tr>
        <th scope="row">3.</th>
        <td>投稿写真の利用・提供に関するコメントは禁止します。</td>
      </tr>
      <tr>
        <th scope="row">4.</th>
        <td>著作権などの関連法令を遵守ください。</td>
      </tr>
      
    </tbody>
  </table>

</div>