@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.img-thumbnail {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.photo-nickname {
  line-height: 70px;
}

.gap-2 {
  gap: 16px;
}

.card-column-3 {
  width: calc((100% - 16px - 16px) / 3);
  max-width: calc((100% - 16px - 16px) / 3);
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 1px #000000;
}


.hr1 {
  background: #aaa;
  background-image: -webkit-linear-gradient(left, #ddd, #999, #ddd);
  background-image: -moz-linear-gradient(left, #ddd, #999, #ddd);
  background-image: -ms-linear-gradient(left, #ddd, #999, #ddd);
  background-image: -o-linear-gradient(left, #ddd, #999, #ddd);
}

.flex {
  display: flex; /*横並び*/
}

.flex .text {
  height: 54px;
  line-height: 70px;
  margin-left: 20px;
  font-size: 25px;
}

.tag_box {
  font-size: 20px;
}